.mat-grid-tile {
    // border: solid 1px red;
    background: lightblue;
}

.example-card {
    max-width: 10px;
    // float: left;
    margin-bottom: 20px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .box{
    background-color: lightblue;
  }