.mat-grid-tile {
    // border: solid 1px red;
    background: lightblue;
}

.example-card {
    max-width: 400px;
    float: left;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }