
 <!-- Starting tempate -->
 <button mat-button>Menu</button>
 
   <button mat-menu-item>Item 1</button>
   <button mat-menu-item>Item 2</button>
 


 <h3>Basic Buttons</h3>
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div>

  <!-- Footer -->
  <footer>
  </footer>


<router-outlet></router-outlet>

